@model EntityLayer.Dto.Users

<div class="media align-items-center user-pointer collapsed" data-toggle="collapse" data-target="#user-dropdown">
    <div class="avatar"><img class="mr-3 side-user-img" src="@Model.Profile" alt="user avatar"></div>
    <div class="media-body">
        <h6 class="side-user-name">@Model.FullName</h6>
    </div>
</div>
