<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h1>@ViewBag.Title</h1>
                <div class="page_link">
                    <a href="@Url.Action("Index","Home")">Home</a>
                    <a href="@Url.Action("Index")">@ViewBag.Title</a>
                </div>
            </div>
        </div>
        <div class="shape shape1"></div>
        <div class="shape shape2"></div>
        <div class="shape shape3"></div>
        <div class="shape shape4"></div>
        <div class="shape shape5"></div>
        <div class="shape shape6"></div>
        <div class="shape shape7"></div>
    </div>
</section>
