@model EntityLayer.Concrete.Event

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Dashboard/Views/Shared/_LayoutDashboard.cshtml";
}

@using (Html.BeginForm("Edit","Events",FormMethod.Post))
{
    <div class="form-group">
        @Html.TextBoxFor(x=>x.Name,new { @class = "form-control" })
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary shadow-primary px-5">Edit Event</button>
    </div>
}